.site-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 75px;
    background: #463F3A;
    color: #F4F3EE;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

.header-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 10px; /* to make the site name and socials fit away from walls if need be*/
    margin-right: 10px;
    padding-left: 15%;
    padding-right: 15%;

}

/* --------------------------- Body divs --------------------------- */

body {
    background: #F4F3EE;
    color: #463F3A;
    font-family: Arial, Helvetica, sans-serif;
    /*text-align: center; /* needed to remove since image is inline and center forces it off alignment with flex somehow*/ 
  }

  /* This starts content after sticky height, so no overlap */
.content {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 12%;
    padding-right: 12%;
}

/*
.sticky {
position: fixed;
top: 0;
width: 100%;
}
.sticky + .content {
padding-top: 102px;
} */

/* --------------------------- Main intro column --------------------------- */

.content-rows{
    display: flex;
    margin-bottom: 20px;
}

.profile-pic{
    border-radius: 2em; 
    width: 425px; 
    height: 550px; 
    object-fit: cover; 
    object-position: 0 0; /* This forces the top left of image to be in view with cropping */
}


/* --------------------------- Mobile optimizing --------------------------- */

@media screen and (max-width: 600px){
    .profile-pic{
       width: 300px;
       height: 420px;
    }
 } 

 @media screen and (max-width: 600px){
    .content{
       padding-top: 75px;
       margin-left: 10px;
       margin-right: 10px;
       padding-left: 2%;
       padding-right: 2%;
    }
 }

 @media screen and (max-width: 600px){
    .site-header{
    display: flex;
    
    }
 }

 @media screen and (max-width: 600px){
    .header-cont{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
 }

 @media screen and (max-width: 1100px) and (orientation:portrait){
    .header-cont{
        margin-left: 10px;
        margin-right: 10px;
    }
 } 


@media screen and (max-width: 1100px){
    .content-rows{
       display:flex;
       flex-direction: column;
    }
 } 



/* ------------------------ Code segments ------------------------------------------*/

.list-of-content {
    height:50px; 
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto; 
    border-radius: 25px;
    padding: 10px; 
    padding-left: 50px;
    box-shadow: 5px 5px 5px #aaaaaa inset; 
}


.dpw-code {
    /*white-space: pre-wrap;  Wrap long lines */
    /*word-break: break-all;*/
    overflow: auto;
    counter-reset: linecounter; /* Create line counter variable */
    border-width: 1px;
    border-style: solid;
    border-color: #c4d1e6;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #aaaaaa inset;
    padding: 20px;
    font-family: "Courier New",Courier,monospace;
    
}


.dpw-code span.line {
  counter-increment: linecounter;
}
.dpw-code span.line::before {
  content: counter(linecounter);
  width: 50px;
  text-align: right;
  display: inline-block;
  padding-right: 5px;
  border-right: 1px solid #ccc;
  margin-right: 5px;
  
}


.dpw-code-noNr {

    overflow: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #c4d1e6;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #aaaaaa inset;
    padding: 15px;
    font-family: "Courier New",Courier,monospace;
    
}
.dpw-code-noNr span.line {
    
  }
.dpw-code-noNr span.line::before {
    width: 20px;
    text-align: right;
    display: inline-block;
    padding-right: 5px;
    border-right: 1px solid #ccc;
    margin-right: 5px;
    
  }


/* ------------------------------------ Images ----------------------------------*/

.single-image{
    border-radius: 2em; 
    object-fit: cover; 
    object-position: 0 0; 
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.single-image-2{
    border-radius: 1em; 
    object-fit: cover; 
    object-position: 0 0; 
    max-width: 50%;
    height: auto;
    width: auto\9;
}

@media screen and (max-width: 800px){
    .single-image-2{
        max-width: 75%;
    }
 } 