.site-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 75px;
    background: #463F3A;
    color: #F4F3EE;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

.header-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 10px; /* to make the site name and socials fit away from walls if need be*/
    margin-right: 10px;
    padding-left: 15%;
    padding-right: 15%;

}

/* --------------------------- Body divs --------------------------- */

body {
    background: #F4F3EE;
    color: #463F3A;
    font-family: Arial, Helvetica, sans-serif;
    /*text-align: center; /* needed to remove since image is inline and center forces it off alignment with flex somehow*/ 
  }

  /* This starts content after sticky height, so no overlap */
.content {
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 12%;
    padding-right: 12%;
}

/*
.sticky {
position: fixed;
top: 0;
width: 100%;
}
.sticky + .content {
padding-top: 102px;
} */

/* --------------------------- Main intro column --------------------------- */

.content-rows{
    display: flex;
    margin-bottom: 20px;
}

.profile-pic{
    border-radius: 2em; 
    width: 425px; 
    height: 550px; 
    object-fit: cover; 
    object-position: 0 0; /* This forces the top left of image to be in view with cropping */
}


/* --------------------------- Mobile optimizing --------------------------- */

@media screen and (max-width: 600px){
    .profile-pic{
       width: 325px;
       height: 450px;
    }
 } 

 @media screen and (max-width: 1024px) and (orientation:portrait){
    .profile-pic{
       width: 325px;
       height: 450px;
    }
 } 

 @media screen and (max-width: 1024px) and (orientation:portrait){
    .header-cont{
        margin-left: 10px;
        margin-right: 10px;
    }
 } 


@media screen and (max-width: 600px){
    .content-rows{
       display:flex;
       flex-direction: column;
    }
 } 
 @media screen and (max-width: 600px){
    .content{
       padding-top: 75px;
       margin-left: 10px;
       margin-right: 10px;
    }
 }

 @media screen and (max-width: 600px){
    .site-header{
    display: flex;
    justify-content: center;
    }
 }

 @media screen and (max-width: 600px){
    .header-cont{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
 }



/* --------------------------- Flip cards for apps --------------------------- */

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    }
    
.flip-card-inner {
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    }
    
.flip-card-front, .flip-card-back {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    }
    
.flip-card-front {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    color: black;
    }
    
.flip-card-back {
    background-color: white;
    color: black;
    transform: rotateY(180deg);
    }

/* ------------------------ Button for flipcards and others ------------------------ */

.button {
    width: fit-content;
    display: grid;
    font: bold 11px Arial;
    text-align: center;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    }